<div class="cover">
            
            <div class="background-image-fixed cover-image" style="background-image: url(https://unsplash.imgix.net/photo-1418065460487-3e41a6c84dc5?q=25&amp;fm=jpg&amp;s=127f3a3ccf4356b7f79594e05f6c840e);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-inverse">Heading</h1>
                        <p class="text-inverse">Lorem ipsum dolor sit amet, consectetur adipisici eli.</p>
                        <br>
                        <br>
                        <a class="btn btn-lg btn-primary">Click me</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="section">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                        <h3 class="text-center">John Doe</h3>
                        <p class="text-center">Developer</p>
                    </div>
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                        <h3 class="text-center">John Doe</h3>
                        <p class="text-center">Developer</p>
                    </div>
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                        <h3 class="text-center">John Doe</h3>
                        <p class="text-center">Developer</p>
                    </div>
                </div>
            </div>
        </div>